<div class="grid-wrap listings experience teaching">
  <div class="section">
    <h2 id="experience">Teaching</h2>
  </div>
  <div class="content">
    <% PROFILE_HSH.experience.teaching.each do |job| %>
      <%= erb :'resume/job', locals: { job: job } %>
    <% end %>
  </div>
</div>
<div class="grid-wrap listings experience industry">
  <div class="section">
    <h2 id="experience">Industry</h2>
  </div>
  <div class="content">
    <% PROFILE_HSH.experience.coding.each do |job| %>
      <%= erb :'resume/job', locals: { job: job } %>
    <% end %>
  </div>
</div>
