@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.jsonpanel {
  font-size: 1.25rem;

  // cover the screen
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.list {
  animation-name: fadeInText;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.val {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.meta-links {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0.5rem;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;

  a {
    color: black;
    font-family: sans-serif;
    font-size: 0.7rem;

    &:hover {
      opacity: 1;
    }
  }

  .nav-item {
    padding-bottom: 0.5rem;

    a {
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

@media (max-width: 650px) {
  .jsonpanel {
    padding-top: 50px;
  }

  .pair.simple {
    max-width: 300px;
  }
}
