html {
  padding: 1rem;
}

h1,
h2 {
  color: #8b1a10;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 5.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

ul,
ol {
  padding-left: 1.5rem;
}

p,
li {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.4;
}

li {
  margin-bottom: 1rem;

  strong {
    font-size: 1.7rem;
  }
}

a {
  text-decoration: none;
}

.event {
  margin-bottom: 3rem;
  text-align: center;
}
