@import "compass/css3/animation";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

@import "./jsonpanes";


$finalBorder: 1px solid #ccc;
$finalShadow: -13px 0px 37px -13px rgba(0, 0, 0, 0.5);
@include keyframes(fadeInShadow) {
  0% {
    @include box-shadow(none);
  }
  100% {
    border-left: $finalBorder;
    @include box-shadow($finalShadow);
  }
}

@include keyframes(fadeInText) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(slideArrow) {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    visibility: visible;
    left: -1em;
  }
}


.jsonpanes {
  font-size: 1.25em;
  height: 100%;
}

$shadowDelay: 0.2s;
.panel {
  background-color: white;

  @include animation-name(fadeInShadow);
  @include animation-iteration-count(1);
  @include animation-timing-function(ease-in);
  @include animation-delay($shadowDelay);
  @include animation-duration(0.4s);
  @include animation-fill-mode(forwards);

  &:first-child {
    // don't show the outline
    @include animation-name(none);
  }
}

.list {
  @include animation-name(fadeInText);
  @include animation-iteration-count(1);
  @include animation-timing-function(ease-in);
  @include animation-duration(0.4s);
  @include animation-fill-mode(forwards);
}

.val {
  opacity: 1;
  @include transition(opacity 0.4s ease $shadowDelay);
}

// the arrow
.selected > .panel:before {
  visibility: hidden; // TODO only if animations are supported?
  z-index: -1;

  @include animation-name(slideArrow);
  @include animation-iteration-count(1);
  @include animation-timing-function(ease-out);
  @include animation-delay($shadowDelay);
  @include animation-duration(0.2s);
  @include animation-fill-mode(forwards);
}

.meta-links {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.25em 0.5em;
  text-align: right;

  a {
    display: block;
    font-family: sans-serif;
    font-size: 0.7em;
    line-height: 1.3;
    color: black;
    opacity: 0.6;
    @include transition(opacity 0.2s ease);

    &:hover {
      opacity: 1;
    }
  }
}
