@import "compass/css3/box-shadow";

@import "./jsonpanes";


$finalBorder: 1px solid #ccc;
$finalShadow: -13px 0px 37px -13px rgba(0, 0, 0, 0.5);
@-moz-keyframes fadeInShadow {
  0% {
    opacity: 0;
  }
  40% {
    box-shadow: none;
  }
  60% {
    opacity: 1;
  }
  100% {
    border-left: $finalBorder;
    box-shadow: $finalShadow;
  }
}
@-webkit-keyframes fadeInShadow {
  0% {
    @include box-shadow(none);
  }
  100% {
    border-left: $finalBorder;
    @include box-shadow($finalShadow);
  }
}

@-webkit-keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideArrow {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    visibility: visible;
    left: -1em;
  }
}

.jsonpanes {
  font-size: 1.25em;
  height: 100%;

  $shadowDelay: 0.2s;
  .panel {
    background-color: white;

    -webkit-animation-name: fadeInShadow;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: $shadowDelay;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;

    animation-name: fadeInShadow;
    animation-iteration-count: once;
    animation-timing-function: ease-in;
    animation-delay: $shadowDelay;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;

    &:first-child {
      // don't show the outline
      -webkit-animation-name: none;
      animation-name: none;
    }
  }

  .list {
    -webkit-animation-name: fadeInText;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
  }

  .val {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease $shadowDelay;
  }

  // the arrow
  .selected > .panel:before {
    visibility: hidden; // TODO only if animations are supported?
    z-index: -1;

    -webkit-animation-name: slideArrow;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: $shadowDelay;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
  }
}

.meta-links {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.25em 0.5em;
  text-align: right;

  a {
    display: block;
    font-family: sans-serif;
    font-size: 0.7em;
    color: #aaa;

    &:hover {
      color: black;
    }
  }
}
