<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0070)https://jobs.github.com/positions/dfe8d47c-cc7b-11e2-9bb3-53dc4a0037b1 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <title>Education Hacker — GitHub Jobs</title>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="stylesheet" href="./github_desc_files/main.css" type="text/css">
  <script src="./github_desc_files/main.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9928735-10']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body class="">
  <div class="non-footer">
    <div id="header">
      <div id="wrap">
        <h2 id="logo"><a href="http://jobs.github.com/">GitHub Jobs</a></h2>
        <ul id="gnav">
          <li><a href="http://jobs.github.com/positions">All jobs</a></li>
          <li><a href="https://jobs.github.com/post">Post a job</a></li>
          <li><a href="http://jobs.github.com/faq">How it works</a></li>
        </ul>
      </div>
    </div><!-- /#header -->
    <div id="wrap">
      <div id="search" class="clearfix">


          <div class="left">
            <a href="https://jobs.github.com/positions" class="back">See all positions</a>
          </div>

          <div class="right">
            <ul class="prevnext">

            </ul>
          </div>


      </div><!-- /#search -->
      <div id="page">
        <div class="inner">
          

  <p class="supertitle">Full Time / Anywhere</p>
  <h1>Education Hacker</h1>

  <div class="columns generic ">
    <div class="column main ">

      <p>It’s easy to say “education is broken”.  We’re looking for someone who wants to move that needle, and sees tremendous potential for Github as the catalyst and means.  This role is not about persuading academia to adopt Github; it’s about crafting tools that make their lives and the educational experience better as a whole... and thus would be crazy for them not to.</p>

      <p>This position is an intersection of coding and technical evangelism.  We know there are things we can build in and around Github to make collaboration in an academic setting easier, but need you to bring those to life.</p>

      <p>We’re looking for someone who:</p>

      <ul>
        <li>Is excited to interact with and improve education at all levels, in Computer Science and otherwise.</li>
        <li>Is as passionate about learning as they are about helping others learn.</li>
        <li>Is strongly engaged in the tech community, both online and off.</li>
        <li>Has an “open-source first” mentality.</li>
        <li>Has strong, diverse coding skills, and a vast portfolio of projects to back them up.</li>
      </ul>

      <p>Bonus points for teaching or dance experience.</p>
    </div><!-- /.column.main -->

    <div class="column sidebar">

      <div class="module logo">
        <div class="inner">
          <h2>
            <a href="https://jobs.github.com/companies/GitHub" class="seemore">
              3 other jobs
            </a>
      
            GitHub
          </h2>
      
            <div class="logo">
              <a href="https://github.com/" target="_blank">
                <img src="./github_desc_files/9b8fc6fa-cc7b-11e2-85d0-aa5309ed11fb.png">
              </a>
            </div>
      
      
            <p class="url">
              <a href="https://github.com/">https://github.com</a>
            </p>
        </div>
      </div>

      <div class="module highlighted">
        <div class="inner">
          <h2>How to apply</h2>
          <p>Don't bother - we <a href="http://api.afeld.me/">already found our guy</a>. :)</p>
        </div>
      </div>


    </div><!-- /.column.sidebar -->
  </div><!-- /.columns -->



        </div>
      </div><!-- /#page -->
    </div><!-- /#wrap -->
  </div><!-- /.non-footer -->
  <div id="footer">
    <div class="inner">
      <ul class="github-nav">
        <li><a href="http://github.com/blog" class="blog">The GitHub Blog</a></li>
        <li><a href="http://github.com/contact">Contact</a></li>
        <li><a href="https://jobs.github.com/api">API</a></li>
      </ul>
      <p class="copyline">© 2013 GitHub Inc. All rights reserved.</p>
      <a href="https://github.com/"><img src="./github_desc_files/invertocat.png" width="24" height="24" class="invertocat"></a>
      <!-- Environment: production -->
    </div>
  </div><!-- /#footer -->
  <!--[if IE 8]>
  <script type="text/javascript" charset="utf-8">
    $(document.body).addClass("ie8")
  </script>
  <![endif]-->

  <!--[if IE 6]>
  <style type="text/css" media="screen">
    .non-footer, #footer{
      display:none
    }
    .ie6-notice{
      padding:50px;
      font-size:24px;
      font-weight:bold;
      text-align:center;
      color:#000;
    }
  </style>
  <div class="ie6-notice">
    <p>We're sorry, but we do not support Internet Explorer 6.</p>
    <p>Please upgrade to <a href="http://www.google.com/chrome">Chrome</a>, <a href="http://getfirefox.com">Firefox</a> or <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Internet Explorer 8</a>
  </div>

  <script type="text/javascript"src="//ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <script>
   CFInstall.check({
     mode: "overlay"
   });
  </script>
  <![endif]-->

<div id="window-resizer-tooltip" style="display: block;"><a href="https://jobs.github.com/positions/dfe8d47c-cc7b-11e2-9bb3-53dc4a0037b1#" title="Edit settings" style="background-image: url(chrome-extension://kkelicaakdanhinjdeammmilcgefonfh/images/icon_19.png);"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1471</span> x <span class="tooltipHeight" id="winHeight">900</span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth">1471</span> x <span class="tooltipHeight" id="vpHeight">784</span></div></body></html>