<html>
  <head>
    <title>Aidan Feldman API</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="javascripts/application.js"></script>
  </head>
  <body>
    <%= PROFILE_STR %>
  </body>
</html>
