<!doctype html>
<html>
  <head>
    <title>Aidan Feldman API</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/Autolinker.js/dist/Autolinker.js"></script>
    <script src="bower_components/jsonpanel/jsonpanel.js"></script>
    <script>
      $(function(){
        var $json = $('.jsonpanel')
        $json.jsonpanel({data: <%= PROFILE_STR %>});

        // turn URLs into links
        $json.find('.val.string').each(function(i, el){
          var $el = $(el);
          var linked = Autolinker.link($el.text());
          $el.html(linked);
        });

        $('.profile').remove();
      });
    </script>
    <%= erb :ga %>
  </head>
  <body>
    <div class="jsonpanel"></div>
    <ul class="meta-links">
      <li>
        <a href="https://twitter.com/aidanfeldman" class="twitter-follow-button" data-show-count="false" data-show-screen-name="true">Follow @aidanfeldman</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li>
      <li>
        <a href="index.json">View raw</a>
      </li>
      <li>
        <a href="https://github.com/afeld/api.afeld.me">Fork me</a>
      </li>
    </ul>
    <div class="profile">
      <%= to_dl(PROFILE_HSH) %>
    </div>
  </body>
</html>
