// base jsonpanes styles

@import "compass/css3/box-sizing";


.jsonpanes {
  @include box-sizing(border-box);
  overflow-x: scroll;
  white-space: nowrap;
  font-family: monospace;
  padding: 1em;

  * {
    // reset
    margin: 0;
    padding: 0;
  }

  .panel {
    display: inline-block;
    vertical-align: top;
  }

  .list {
    list-style-type: none;

    $verticalPadding: 1em;
    padding: $verticalPadding 0 $verticalPadding 0.8em;
  }

  ul {
    &:before {
      content: '{';
    }
    &:after {
      content: '}';
    }
  }

  ol {
    &:before {
      content: '[';
    }
    &:after {
      content: ']';
    }
  }

  .key {
    margin-left: 1em;
    font-weight: bold;
  }

  li {
    // commas after every non-nested link item
    .val:after {
      content: ",";
    }
    &:last-child .val:after {
      display: none;
    }
  }

  .expandable {
    text-decoration: none;
    color: black;

    // expander
    & .key:before {
      content: "+";
      margin-right: 0.5em;
    }
  }

  .selected {
    position: relative;

    & > .expandable {
      // collapser
      & .key:before {
        content: "-";
      }

      & .val {
        // hide the Array/Object indicator
        opacity: 0;
      }
    }

    & > .panel {
      position: absolute;
      left: 100%;
      margin-left: 15px;

      $arrowVerticalOffset: 15px;
      top: -1 * $arrowVerticalOffset;

      // CSS arrow
      &:before {
        position: absolute;
        left: -1em;
        top: $arrowVerticalOffset;
        content: " ";
        height: 0;
        width: 0;
        border: solid transparent;
        border-color: rgba(0, 0, 0, 0);
        border-width: 0.5em;
        border-right-color: #999;
      }
    }
  }

  .boolean {
    color: red;
  }
  .string {
    color: green;
  }
  .number {
    color: blue;
  }
  .array,
  .object {
    .val-inner {
      color: #a5a5a5;
    }
  }
}
