<html>
  <head>
    <title>Aidan's availability</title>
    <%= erb :ga %>
  </head>
  <body>
    <!--
      created from
      https://www.google.com/calendar/embedhelper?src=aidan.feldman%40gmail.com&ctz=America/New_York
    -->
    <iframe src="https://www.google.com/calendar/embed?title=Aidan&#39;s%20availability&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=aidan.feldman%40gmail.com&amp;color=%23A32929&amp;src=o961b284sj2nchcrfhl4nj8n8dfkj2vc%40import.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </body>
</html>
