<% content_for :head do %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Staatliches&display=swap"
    rel="stylesheet"
    />
    <%= stylesheet_link_tag 'pec' %>
<% end %>

<% wrap_layout :default do %>
  <h1>Pre-Existing Condition</h1>

  <div class="event center">
    <p>
      <a href="https://schoolofdata.nyc/unschool/">UnSchool of Data</a>
      <br/>
      March 29, 2026
    </p>
  </div>

  <p class="center">
    <a class="newsletter" href="/newsletter">Sign up for updates</a>
  </p>

  <%= yield %>
<% end %>
