<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Aidan Feldman's Rider</title>
    <style>
      html {
        font-family: sans-serif;
        padding: 2rem;
      }
      body {
        max-width: 50rem;
      }
      hr {
        margin: 3rem 0;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
