@mixin box-shadow($shadow){
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

$finalBorder: 1px solid #ccc;
$finalShadow: -13px 0px 37px -13px rgba(0, 0, 0, 0.5);
@-moz-keyframes fadeInShadow {
  0% {
    box-shadow: none;
  }
  100% {
    border-left: $finalBorder;
    box-shadow: $finalShadow;
  }
}
@-webkit-keyframes fadeInShadow {
  0% {
    @include box-shadow(none);
  }
  100% {
    border-left: $finalBorder;
    @include box-shadow($finalShadow);
  }
}

.jsonpanes {
  @mixin transition($transition){
    -moz-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
  }

  box-sizing: border-box;
  overflow-x: scroll;
  white-space: nowrap;
  font-family: monospace;
  padding: 1em;
  height: 100%;

  * {
    // reset
    margin: 0;
    padding: 0;
  }

  .panel {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
    list-style-type: none;

    -webkit-animation-name: fadeInShadow;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;

    animation-name: fadeInShadow;
    animation-iteration-count: once;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

    $verticalPadding: 1em;
    padding: $verticalPadding 0 $verticalPadding 0.8em;
    // align with the top of the first class
    margin-top: $verticalPadding;

    &:first-child {
      margin-top: 0;
      // don't show the outline
      -webkit-animation-name: none;
      animation-name: none;
    }
  }

  ul {
    &:before {
      content: '{';
    }
    &:after {
      content: '}';
    }
  }

  ol {
    &:before {
      content: '[';
    }
    &:after {
      content: ']';
    }
  }

  .key {
    margin-left: 1em;
    font-weight: bold;
  }
  a.key {
    text-decoration: none;
    color: black;

    // expander
    &:before {
      content: "+";
      margin-right: 0.5em;
    }
  }

  li {
    // commas after every non-nested link item
    .val:after {
      content: ",";
    }
    &:last-child .val:after {
      display: none;
    }
  }

  .selected {
    position: relative;

    // collapser
    a.key:before {
      content: "-";
    }

    .val {
      // hide the Array/Object indicator
      display: none;
    }

    // CSS arrow
    &:after {
      position: absolute;
      left: 100%;
      top: 16%;
      content: " ";
      height: 0;
      width: 0;
      border: solid transparent;
      border-color: rgba(0, 0, 0, 0);
      border-width: 0.5em;
      border-right-color: #999;
    }
  }

  .boolean {
    color: red;
  }
  .string {
    color: green;
  }
  .number {
    color: blue;
  }
}
