.jsonpanes {
  overflow-x: scroll;
  white-space: nowrap;
  font-family: monospace;

  * {
    // reset
    margin: 0;
    padding: 0;
  }

  .panel {
    display: inline-block;
    vertical-align: top;
    margin-right: 2em;
    list-style-type: none;
  }

  ul {
    &:before {
      content: '{';
    }
    &:after {
      content: '}';
    }
  }

  ol {
    &:before {
      content: '[';
    }
    &:after {
      content: ']';
    }
  }

  .key {
    margin-left: 1em;
    font-weight: bold;
  }
  a.key {
    text-decoration: none;

    // expander
    &:before {
      content: "+";
      margin-right: 0.5em;
    }
  }

  li {
    // commas after every non-nested link item
    .val:after {
      content: ",";
    }
    &:last-child .val:after {
      display: none;
    }
  }

  .selected {
    position: relative;

    // collapser
    a.key:before {
      content: "-";
    }

    .val {
      // hide the Array/Object indicator
      display: none;
    }

    // CSS arrow
    &:after {
      position: absolute;
      left: 100%;
      top: 16%;
      content: " ";
      height: 0;
      width: 0;
      border: solid transparent;
      border-color: rgba(0, 0, 0, 0);
      border-width: 0.5em;
      border-right-color: #ccc;
    }
  }

  .boolean {
    color: red;
  }
  .string {
    color: green;
  }
  .number {
    color: blue;
  }
}
