.jsonpanes {
  overflow-x: scroll;
  white-space: nowrap;
}
.jsonpanes * {
  /* reset */
  margin: 0;
  padding: 0;
}
.jsonpanes .panel {
  display: inline-block;
  vertical-align: top;
  margin-right: 4em;
  list-style-type: none;
}

.jsonpanes ul:before {
  content: '{';
}
.jsonpanes ul:after {
  content: '}';
}

.jsonpanes ol:before {
  content: '[';
}
.jsonpanes ol:after {
  content: ']';
}

.jsonpanes .key {
  margin-left: 1em;
}
.jsonpanes a.key {
  display: block;
}
.jsonpanes .selected {
  position: relative;
}
/* CSS arrow */
.jsonpanes .selected:after {
  position: absolute;
  left: 100%;
  content: " ";
  height: 0;
  width: 0;
  border: solid transparent;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.5em;
  border-right-color: #ccc;
}
