$column-break: 800px;

body {
  font-family: Helvetica, sans-serif;
  padding: 1rem;

  @media print {
    & {
      padding: 0;
    }
  }
}

.grid-wrap {
  display: grid;
  // single column
  grid-template-columns: 1fr;
  grid-template-areas:
    "section"
    "content";
}

.section {
  color: #7a7a7a;
  grid-area: section;
}

.content {
  grid-area: content;
}

// medium+ screen - two columns
@media (min-width: $column-break) {
  body {
    padding: 3rem;
  }

  .section h1 {
    font-size: 1.2rem;
  }
}
@media print, (min-width: $column-break) {
  // vertically align tops of sections
  .section h1 {
    font-weight: normal;
    margin-top: 0;
  }
  .content h2:first-child {
    margin-top: 0;
  }

  .grid-wrap {
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "section content";
  }
}

// large screen
@media print, (min-width: 1200px) {
  .section h1 {
    font-size: 1.5rem;
  }
}


@media print {
  .section h1 {
    font-size: 1.1rem;
  }
}
