body {
  font-family: Helvetica, sans-serif;
  padding: 3em;
}

.grid-wrap {
  display: grid;
  // single column
  grid-template-columns: 1fr;
  grid-template-areas:
    "section"
    "content";
}

.section {
  color: #7a7a7a;
  grid-area: section;
}

.content {
  grid-area: content;
}

// large screen - two columns
@media (min-width: 800px) {
  .section {
    font-size: 0.7em;
  }

  // vertically align tops of sections
  .section h1 {
    margin-top: 0;
  }
  .content h2:first-child {
    margin-top: 0;
  }

  .grid-wrap {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "section content";
  }
}
