html {
  font-family: Helvetica, sans-serif;
}

.grid-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "section"
    "content";
}

.section {
  grid-area: section;
}

.content {
  grid-area: content;
}

@media (min-width: 800px) {
  h1 {

  }

  .grid-wrap {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "section content";
  }
}
