---
title: Availability
---

<style>
    iframe {
        border: solid 1px #777;
        width: 100%;
        max-width: 800px;
    }

    @media (max-width: 600px) {
        html, body {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }
        p {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
</style>
<p>This is Aidan's general availability. It mainly includes things that are immovable.</p>
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&showTitle=0&mode=AGENDA&showCalendars=0&src=ZWY2YTU3YzJjYjlhMWNhNTU4Mjg3MWNhM2MzOTczODhiZTZmZTQ5MzA0ZjA3MWY1NDc2Y2ZlZTExMTJhZWQxZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23C0CA33" height="600" frameborder="0" scrolling="no"></iframe>
