---
title: API
canonical_origin: https://api.afeld.me
---

<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/afeld/jsonpanel@v0.1.2/stylesheets/jsonpanel.min.css">
  <%= stylesheet_link_tag "application" %>
  <script src="https://cdn.jsdelivr.net/combine/npm/jquery@3.4.1,npm/autolinker@3.0.5,gh/afeld/jsonpanel@v0.1.2/jsonpanel.min.js"></script>
<% end %>

<div class="jsonpanel"></div>
<nav>
  <ul class="meta-links">
    <li class="nav-item">
      <a href="https://twitter.com/<%= data.resume.profiles.twitter.username %>">Twitter</a>
    </li>
    <li class="nav-item">
      <a href="resume">Tech/Teaching Resume</a>
    </li>
    <li class="nav-item">
      <a href="newsletter">Newsletter</a>
    </li>
    <li>
      <a href="index.json">View raw</a>
      <a href="https://github.com/afeld/api.afeld.me">Fork me</a>
    </li>
  </ul>
</nav>
<div class="profile">
  <%= to_dl(data.resume) %>
</div>
<script>
  var $json = $('.jsonpanel')
  $json.jsonpanel({data: <%= data.resume.to_json %>});

  // turn URLs into links
  $json.find('.val.string').each(function(i, el){
    var $el = $(el);
    var linked = Autolinker.link($el.text());
    $el.html(linked);
  });

  $('.profile').remove();
</script>
