<div class="grid-wrap listings community">
  <div class="section">
    <h2 id="community">Community involvement</h2>
  </div>
  <div class="content">
    <div class="listing">
        <p>
            Organizer, <a href="https://bit.ly/CivicTechishNYC">Civic Tech'ish</a>, <a href="https://prospectheightsplaces.com/vanderbilt-avenue/">Vanderbilt Open Streets</a>; Founder, <a href="https://www.codenewbie.org/podcast/hacker-hours">Hacker Hours</a>; Volunteer, <a href="https://www.bikebus.nyc/">NYC Bike Bus</a>; Blood donor, <a href="https://www.nybc.org/">New York Blood Center</a>.
        </p>
    </div>
  </div>
</div>
