<div class="grid-wrap listings education">
  <div class="section">
    <h2 id="education">Education</h2>
  </div>
  <div class="content">
    <%# exclude high school %>
    <% data.resume.education[0...-1].each do |edu| %>
      <div class="listing">
        <p>
          <strong><%= edu.school %>, <%= edu.location.city %></strong>
          —
          <%= edu.degrees.map { |degree| "#{degree.title} #{degree.major}" }.join(', ') %>
        </p>
      </div>
    <% end %>
  </div>
</div>
