<div class="grid-wrap listings experience">
  <div class="section">
    <h2 id="experience">Experience includes</h2>
  </div>
  <div class="content">
    <% all_jobs.each do |job| %>
      <%= partial 'resume/job', locals: { job: job } %>
    <% end %>
  </div>
</div>
