<div class="grid-wrap listings experience">
  <div class="section">
    <h2 id="experience">Selected experience (<a href="https://afeld.me/resume/#experience">more</a>)</h2>
  </div>
  <div class="content">
    <% all_jobs.each do |job| %>
      <% unless job.skip %>
        <%= partial 'resume/job', locals: { job: job } %>
      <% end %>
    <% end %>
  </div>
</div>
