<div>
  <p>I have over 11 years of civic technology experience, improving government systems and processes at the federal, state, and local levels. My expertise spans technical leadership, web development, cloud infrastructure, open source software, and DevSecOps practices, all grounded in a commitment to human-centered design and inclusivity. I'm excited to help make the city more affordable and equitable, <a href="https://techmayor.nyc/p/about-the-tech-mayor-project">delivering the excellent services that New Yorkers deserve</a>. I have another life as a professional modern dancer.</p>
</div>
